@charset "UTF-8";
/*
 * @author Takako Imamura (Akaru), Sahara Satoshi (RWMC)
*/

/* @media print { */

#dokuwiki__header .headings {
  width: 100%;
}
#dokuwiki__usertools,
#dokuwiki__sitetools {
  display: none;
}
#dokuwiki__content {
  position: static;
}
#wp__content {
  border: none;
  box-shadow: none;
}
nav.gnav { display: none; }
.spnav { display: none; }

div#wp_page_numbers {
  display: none;
}
div.navigation, div.pagenavi {
  display: none;
}
div.comments {
  display: none;
}

.content a.post {
  display: none;
}
.content a.point-pickup {
  padding: 0px 1px 0px 1px;
  /* color: transparent; */
  font-size: 80%;
}

.summary a.post {
  display: none;
}

p.noprint {
  display: none;
}
div.pagettl div.list-category { display: none; }
div.detail-pager {
  display: none;
}
/*} /* end media print */
